<template>
  <div>
    <div class="text-center text-h4 mb-4">
      Tickets List
    </div>
    <v-row justify="center" align="center">
      <v-col cols="3">
        <v-btn
          color="#FF5F00"
          dark
          @click="dialogProp = true"
        >
          Create new Ticket
        </v-btn>
      </v-col>
      <v-col cols="3">
        <v-select
          :items="items"
          label="Ticket Filter"
          hide-details
          v-model="filterSelected"
          solo
        ></v-select>
      </v-col>
      <template v-if="paginatedItems">
        <v-col v-for="(ticket, t) in paginatedItems[page - 1]" :key="t" cols="7">
          <v-card class="mb-4">
            <v-card-title>
              <span style="cursor:pointer;" @click="showDetails(ticket.id)">Ticket id {{ ticket.id }}</span>
            </v-card-title>
            <v-card-text>
              {{ ticket.description }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="#FF5F00"
                dark
                @click="showDetails(ticket.id)"
              >
                Details
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </template>
      <template v-for="skeleton in 4" v-else>
        <v-col cols="7" :key="skeleton">
          <SkeletonLoading/>
        </v-col>
      </template>
    </v-row>
    <div class="text-center">
      <v-pagination
        v-model="page"
        :length="totalPages"
        color="#FF5F00"
      ></v-pagination>
    </div>
    <Dialog :dialogProp.sync="dialogProp" :title="'Create new Ticket'" @onConfirm="addTicket"/>
  </div>
</template>

<script>
import { ticket } from '../../services/ticket'
import SkeletonLoading from '../commom/SkeletonLoading'
import mixinFunctions from '../../helpers/mixinFunctions'
import Dialog from '../commom/Dialog'

export default {
  name: 'TicketsList',
  components: {
    SkeletonLoading,
    Dialog
  },
  data () {
    return {
      tickets: [],
      items: ['Ticket Filter', 'Newest', 'Older'],
      filterSelected: null,
      totalPages: 1,
      paginatedItems: null,
      page: 1,
      dialogProp: false
    }
  },
  mixins: [mixinFunctions],
  watch: {
    filterSelected (value) {
      switch (value) {
        case 'Newest':
          this.tickets.reverse()
          this.setTotalPage(this.tickets)
          break
        default:
          this.tickets.sort((a, b) => {
            return a.id - b.id
          })
          this.setTotalPage(this.tickets)
          break
      }
    }
  },
  created () {
    this.getTickets()
  },
  methods: {
    showDetails (idTicket) {
      this.$router.push({ path: `/ticket/${idTicket}` })
    },
    addTicket () {
      ticket.createTicket().then(() => {
        this.getTickets()
      })
    },
    getTickets () {
      this.filterSelected = null
      ticket.getTickets().then(res => {
        this.tickets = res.data
        this.setTotalPage(this.tickets)
      })
    },
    setTotalPage (ticketsList) {
      this.paginatedItems = this.paginate(ticketsList, 10)
      this.totalPages = this.paginatedItems.length
    }
  }
}
</script>

<style lang="scss" scoped>
.orange-text {
  color: #FF5F00;
}
</style>
