<template>
  <div>
    <v-container v-if="ticket">
      <v-card>
        <v-card-title>Ticket id: {{ ticket[0].id }}</v-card-title>
        <v-card-subtitle>Author: {{ ticket[0].first_name }} {{ ticket[0].last_name }}</v-card-subtitle>
        <v-card-text>
          {{ ticket[0].description }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
          color="#FF5F00"
          dark
          @click="dialogProp = true"
        >
          Edit Ticket
        </v-btn>
        </v-card-actions>
      </v-card>
      <template v-if="comments && comments.length > 0">
        <div class="mt-5 mb-5 text-h5">
          <b>Comments</b>
          <v-divider></v-divider>
        </div>
        <v-card v-for="(comment, c) in paginatedComments[page - 1]" :key="c" class="mb-4">
          <v-card-title>{{ comment.first_name }} {{ comment.last_name }}</v-card-title>
          <v-card-text>
            {{ comment.comment }}
          </v-card-text>
        </v-card>
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="totalPages"
            color="#FF5F00"
          ></v-pagination>
        </div>
      </template>
      <div v-else class="text-center mt-5">
        <b>No comments yet</b>
      </div>
      <v-row>
        <v-col cols="12">
          <div class="mt-5 mb-5 text-h5">
            <b>Create new Comment</b>
            <v-divider></v-divider>
          </div>
        </v-col>
        <v-col cols="12">
          <v-textarea
            solo
            name="input-7-4"
            label="Comment Description"
            hide-details
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-btn
            color="#FF5F00"
            dark
            block
          >
            Comment
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container v-else>
      <v-row v-for="skeleton in 4" :key="skeleton" justify="center">
        <v-col cols="7">
          <SkeletonLoading/>
        </v-col>
      </v-row>
    </v-container>
    <Dialog :dialogProp.sync="dialogProp" :title="'Edit Ticket'" @onConfirm="editTicket"/>
  </div>
</template>

<script>
import { ticket } from '../../services/ticket'
import SkeletonLoading from '../commom/SkeletonLoading'
import mixinFunctions from '../../helpers/mixinFunctions'
import Dialog from '../commom/Dialog'

export default {
  name: 'TicketDetail',
  data () {
    return {
      ticket: null,
      comments: [],
      totalPages: 1,
      paginatedComments: null,
      page: 1,
      dialogProp: false
    }
  },
  components: {
    SkeletonLoading,
    Dialog
  },
  mixins: [mixinFunctions],
  created () {
    this.searchTicketById()
  },
  methods: {
    setTotalPage (commentsList) {
      this.paginatedComments = this.paginate(commentsList, 5)
      this.totalPages = this.paginatedComments.length
    },
    searchTicketById () {
      this.ticket = null
      const ticketId = this.$route.params.id
      ticket.getTicketById(ticketId).then(res => {
        this.ticket = res.data.ticket
        this.comments = res.data.comments
        this.setTotalPage(this.comments)
      })
    },
    editTicket () {
      const ticketId = this.$route.params.id
      ticket.editTicketById(ticketId).then(() => {
        this.searchTicketById()
      })
    }
  }
}
</script>

<style>

</style>
