<template>
  <v-container>
    <TicketsList />
  </v-container>
</template>

<script>
import TicketsList from '../components/ticket/TicketsList.vue'

export default {
  name: 'Home',

  components: {
    TicketsList
  }
}
</script>
