<template>
  <v-app>
    <v-app-bar
      app
      color="#FF5F00"
      dark
    >
      <v-spacer></v-spacer>
      <div>
        <span @click="goHome" style="cursor:pointer;" class="text-h4">
          Support Tickets
        </span>
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
  methods: {
    goHome () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
