<template>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <v-card>
      <v-card-title class="text-h5 title-color white--text">
        {{ title }}
      </v-card-title>

      <v-card-text>
        <v-textarea
          solo
          name="input-7-4"
          label="Ticket Description"
          hide-details
          v-model="descValue"
          class="my-4"
        ></v-textarea>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="error"
          @click="closeModal"
        >
          Cancel
        </v-btn>
        <v-btn
          color="success"
          @click="closeModal(true)"
        >
          Confirm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'Dialog',
  props: {
    title: {
      required: true,
      type: String
    },
    description: {
      required: false,
      type: String,
      default: ''
    },
    dialogProp: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      descValue: this.description || '',
      dialog: this.dialogProp
    }
  },
  watch: {
    dialogProp (value) {
      this.dialog = value
    }
  },
  methods: {
    closeModal (isConfirm = false) {
      this.dialog = !this.dialog
      this.$emit('update:dialogProp', this.dialog)
      if (isConfirm) {
        this.$emit('onConfirm')
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.title-color {
  background-color: #FF5F00 !important;
  border-color: #FF5F00 !important;
}
</style>
