<template>
  <v-skeleton-loader
    v-bind="attrs"
    type="article, actions"
  ></v-skeleton-loader>
</template>

<script>
export default {
  name: 'SkeletonLoading',
  data () {
    return {
      attrs: {
        class: 'mb-6',
        boilerplate: true,
        elevation: 2
      }
    }
  }

}
</script>

<style>

</style>
